.LINKEDIN {
    
    color: #ffffff;
    text-align: center;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 120px;
        padding-right: 40px;
    }
}
.img_linkedin{
    /*width: 400px;
    height: 300px;*/
    max-width:100%; /* Tamaño de la imagen adaptable segun donde se vea */
}

.SOLOLEARN {
    color: #FFFFFF;
    text-align: center;
    width: 1000%;
    font-size: 6vw;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 140px;
        padding-right: 40px;
    }
}


.img_sololearn{
    /*width: 400px;
    height: 300px;*/
    max-width:100%; /* Tamaño de la imagen adaptable segun donde se vea */
}

.contacto {
    width: 100%;
    background-color: #414040;;
    text-align: center;
    color: #FFFFFF;
}

.Titulos{
    font-size: 10vw;
    text-align: center;
    color: yellow;
}

/* Efecto al pasar el mouse */
.img_linkedin:hover {
  background-color: #0b32df; /* Color iluminado */
  box-shadow: 0 0 50px rgba(0, 68, 255, 0.863); /* Efecto brillo */
}
.img_sololearn:hover {
  background-color: #df0b40; /* Color iluminado */
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.863); /* Efecto brillo */
}