
.imagen-sin-fondo {
    mix-blend-mode: multiply; /* Funciona bien con fondos blancos */
}

.img_escudo_ipn {
    /*width: 200px;
    height: 140px;*/
    max-width:25%; /* Tamaño de la imagen adaptable segun donde se vea */
     /*position: absolute;*/
    float:left;
    top: 240px;
    left: 0px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.img_escudo_esime {
    /*width: 150px;
    height: 140px;*/
    max-width:25%; /* Tamaño de la imagen adaptable segun donde se vea */
    /*position: absolute;*/
    float:right;
    top: 230px;
    right: 0px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.presentacion {
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}
.titulo_presentacion {
    text-align: center;
    font-size: 80px;
    margin-top: 15px;

}
.subtitulo_presentacion {
    font-size: 40px;
    color: #FFFFFF;
}

.text-presentacion{
    font-style: italic;
    margin-top: 30px;
    font-size: 20px;
    color: #B0B0B0;
    text-align: center;
}

.herramientas {
    text-align: center;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.img_herramientas {
    /*width: 70px;
    height: 70px; */
    max-width:50%; /* Tamaño de la imagen adaptable segun donde se vea */
    margin: 15px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.img_lenguaje {
    /*width: 90px;
    height: 90px;*/
    max-width:25%; /* Tamaño de la imagen adaptable segun donde se vea */
    margin: 15px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}

.apreniendo {
    background-color: #1E1E1E;
    text-align: center;
    color: #FFFFFF;
}
.img_aprendiendo {
    /*width: 90px;
    height: 90px;*/
    max-width:30%; /* Tamaño de la imagen adaptable segun donde se vea */
    margin: 15px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}

.otras_herramientas {
    background-color: #1E1E1E;
    text-align: center;
    color: #FFFFFF;
}
.certificaciones {
    
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.contacto {
    width: 100%;
    background-color: #414040;;
    text-align: center;
    color: #FFFFFF;
}


/* Efecto al pasar el mouse */
.img_escudo_ipn:hover {
  background-color: #f1083b; /* Color iluminado */
  box-shadow: 0 0 30px rgba(255, 0, 55, 0.747); /* Efecto brillo */
}

.img_escudo_esime:hover {
  background-color: #10f108; /* Color iluminado */
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.747); /* Efecto brillo */
}

.herramientas:hover,.apreniendo:hover,.otras_herramientas:hover,.certificaciones:hover {
  box-shadow: 0 0 30px rgba(55, 0, 255, 0.747); /* Efecto brillo */
}

.img_herramientas:hover {
  background-color: #616128; /* Color iluminado */
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.548); /* Efecto brillo */
}

.img_lenguaje:hover {
  background-color: #318526; /* Color iluminado */
  box-shadow: 0 0 15px rgba(157, 255, 0, 0.726); /* Efecto brillo */
}

.img_aprendiendo:hover {
  background-color: #1cc7b9; /* Color iluminado */
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.726); /* Efecto brillo */
}