
.imagen-sin-fondo {
    mix-blend-mode: multiply; /* Funciona bien con fondos blancos */
}

.img_escudo_ipn {
    width: 200px;
    height: 140px;
    position: absolute;
    top: 240px;
    left: 0px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.img_escudo_esime {
    width: 150px;
    height: 140px;
    position: absolute;
    top: 230px;
    right: 0px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.presentacion {
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}
.titulo_presentacion {
    text-align: center;
    font-size: 80px;
    margin-top: 15px;

}
.subtitulo_presentacion {
    font-size: 40px;
    color: #FFFFFF;
}

.text-presentacion{
    font-style: italic;
    margin-top: 30px;
    font-size: 20px;
    color: #B0B0B0;
    text-align: center;
}

.herramientas {
    text-align: center;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.img_herramientas {
    width: 70px;
    height: 70px;
    margin: 15px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}
.img_lenguaje {
    width: 90px;
    height: 90px;
    margin: 15px;
    mix-blend-mode: screen; /* Funciona bien con fondos blancos */
}

.apreniendo {
    background-color: #1E1E1E;
    text-align: center;
    color: #FFFFFF;
}
.certificaciones {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.contacto {
    background-color: #414040;;
    text-align: center;
    color: #FFFFFF;
}