.diferentes {
    color: #FFFFFF;
    text-align: center;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 40px;
    }

}
.img_scrum, .img_jira , .img_aws{
    width: 400px;
    height: 300px;
}




.UDEMY {
    color: #FFFFFF;
    text-align: center;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 40px;
    }

}
.img_udemy{
    width: 400px;
    height: 300px;
}