.diferentes {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 120px;
        padding-right: 40px;
    }

}
.img_scrum, .img_jira , .img_aws{
   /* width: 400px;
    height: 300px;*/
    max-width:100%; /* Tamaño de la imagen adaptable segun donde se vea */
}

.UDEMY {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    th,
    td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 120px;
        padding-right: 40px;
    }

}
.img_udemy{
    /*width: 400px;
    height: 300px;*/
    max-width:100%; /* Tamaño de la imagen adaptable segun donde se vea */
}

.contacto {
    background-color: #414040;;
    text-align: center;
    color: #FFFFFF;
}

.Titulos{
    font-size: 5vw;
    text-align: center;
    color: rgb(142, 3, 155);
}

.parrafo{
    font-size: 2vw;
    text-align: center;
}

.titutabla{
    font-size: 1.5vw;
    text-align: center;
    color: #b4afaf;
}

/* Efecto al pasar el mouse */
.img_scrum:hover, .img_aws:hover, .img_jira:hover {
  background-color: #24df0b; /* Color iluminado */
  box-shadow: 0 0 50px rgba(115, 255, 0, 0.897); /* Efecto brillo */
}

/* Efecto al pasar el mouse */
.img_udemy:hover{
  background-color: #bc0bdf; /* Color iluminado */
  box-shadow: 0 0 50px rgba(204, 0, 255, 0.897); /* Efecto brillo */
}

.btn-bd-primary {
    align-items: center;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}